.*
*.o
*.builtin
*.order
*.mod.c
*.so
*.so.dbg
*.ko

arch/arm/include/generated/
include/config/
include/generated/

Module.symvers
System.map
asm-offsets.s
lib.a
bounds.s
lib.a
devicetable-offsets.s
vmlinux


